/* src/index.css */
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Пример для других элементов */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

p, a, button, input, textarea {
  font-family: 'DM Sans', sans-serif;
}